.logo {
  width: 110px;
  height: 40px;
  display: inline-block;
  position: relative;
  left:10px;
  top:13px;
}
div.content {
  width: 800px
}

.microphone {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  left:600px;
  top:7px;
}

.search {
  width: 600px;
  height:35px;
  display: inline-block;
}

li {
  display: inline;
  display: inline-block;
  position: relative;
  left: 85px;
}
#videos:hover, #news:hover, #shopping:hover, #settings:hover, #tools:hover, #maps:hover, #more:hover {
  text-decoration: underline;

}
.top {
  user-select: none;
}
#all, #videos, #news, #shopping, #maps, #more {
  padding: 0 10px 10px 10px;
}

#settings {
  margin-left: 130px;
  margin-right: 20px;
}

#tools {
}
#all {
  border-bottom: 2px solid blue;
  color: blue;

}

.number {
  position: relative;
  left:134px;
  font-size: 80%;
  user-select: none;
}

.title {
  color: blue;
  font-size: 20px;
  display: inline-block;
}

.title:hover {
  text-decoration: underline;
}

.url{
  color:green;
  position: relative;
  top:-38px;
}

.info{
  position: relative;
  top:-55px;
  font-size: 15px;
}

.search2 {
  position: relative;
  top:-60px;
}
.search3 {
  position: relative;
  top:-110px;
}

.search4 {
  position: relative;
  top:-170px;
}
.search5 {
  position: relative;
  top:-234px;
}
.results {
  position: relative;
  left: 180px;
}

#second {
  margin-left: 20px;
}
#first {
  margin-left: 92px;
}

#third {
  margin-left: 101px;
}

#fourth {
  margin-left: 103px;
}
h1 {
  position: relative;
  top: -270px;
  left:180px;
  font-size: 20px;
}
.relatedresults {
  position: relative;
  top: -260px;
  left:55px;
  color: blue;
}

#ones:hover,#twos:hover, #threes:hover, #fours:hover, #second:hover, #third:hover, #fourth:hover, #first:hover {
  text-decoration: underline;
}
